extends layout.pug 

block content 
    .container 
        h1.heading_blog All Your Blogs 
        each blog in blogs
            .blogs
                div.blog-wrapper
                    .image
                        img.blog_image(src=`/static/images/${ blog.photo }`)
                    .text
                        h3.title  #{blog.title}
                        h5.author #{blog.author}
                        a.blog_read(href=`/blogs/${blog.id}`) Read More