extends layout.pug 

block content
    .container 
        h1 Create Your Blog 

        if error 
            p.error=error

        if success 
            p.success Successfully blog saved

        form.form(action="/create" method='POST' enctype='multipart/form-data') 
            label Title 
            input(type="text" name="title")

            label Author 
            input.input(type="text", name="author")

            label Description 
            textarea.input(type="text", name="description")

            label Photo
            input(type='file' name='photo' required)

            button.btn Create Blog