extends layout.pug 

block content 
    .container 
        h1.title #{blog.title}
        p.author #{blog.author}
        p.description #{blog.description}
        img#photo(src=`/static/images/${ blog.photo }`)