extends layout.pug 

block content 
    .container
        .content
            .content_image
                img#photo(src=`/static/images/${ blog.photo }`)
            .content_text
                h1.title #{blog.title}
                p.author #{blog.author}
        p.content_description #{blog.description}