extends layout.pug

block content
    .container.head
        h1.heading Publish your passions, your way
        p.description Create a unique and beautiful blog. It’s easy and free.
        a.blog_read(href='create') Create Blog